<div class="toggle">
    <a class="navbar-brand" href="index.html">
        <img src="../image/logo.png" alt="logo" width="100%" height="50px" style="margin-left: 40%;">
    </a>
    <i class="fas fa-bars" id="toggle"></i>
</div>
<header>
    <nav class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <a class="navbar-brand" href="../index.html">
                    <img class="image-hide" src="../image/logo.png" alt="logo" width="100%" height="50px"
                        style="margin-left: 40%;">
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <ul class="main-menu">
                    <li><a class="menu-name" href="#gioi-thieu">Giới Thiệu</a></li>
                    <li><a class="menu-name" href="product-iphone.html">iPhone</a></li>
                    <li><a class="menu-name" href="product-samsung.html">SamSung</a></li>
                    <li><a class="menu-name" href="product-oppo.html">OPPO</a></li>
                    <li><a class="menu-name" href="product-xiaomi.html">Xiaomi</a></li>
                    <li><a class="menu-name" href="">Phụ Kiện</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 ">
                <div class="main-login ">
                    <a class="navbar-brand" href="../login/login.html">
                        <i class="fa-solid fa-user"></i>
                        Đăng Nhập
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>